**/node_modules/
**/dist/
**/build/
**/coverage/
**/package-lock.json

**/.env
**/.env.*
**/Dockerfile
**/.dockerignore
frontend/nginx.conf
frontend/public/_redirects

**/*.{ico,png,jpg,jpeg,gif,webp,woff,woff2,ttf}
